[class*=p-btn] {
	display: inline-block;
	padding: 6px 20px;
	font-family: $f-primary;
	font-size: 12px;
	font-weight: 500;
	line-height: 1.67;
	text-align: center;
	border-radius: 18px;
	text-transform: uppercase;
}
