.p-site {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	&__content {
		flex-grow: 1;
	}
}

.p-section {
	padding: 60px 0;

	&--white {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		p,
		li {
			color: white;
		}
	}
}

.p-content {
	img {
		border-radius: 5px;
	}
}