.p-instagram {
    background-color: $c-black;

    &__title {
        color: $c-white;
        text-align: center;
    }

    &__subtitle {
        color: $c-white;
        text-align: center;
    }

    &__shortcode {
        margin-top: 20px;
    }

    .zoom-instagram-widget__header {
        display: none !important;
    }

    .zoom-instagram {
        .zoom-instagram-widget__item-inner-wrap {
            border-radius: 5px;
        }
        .zoom-instagram-widget__items-wrapper {
            .zoom-instagram-widget__items {
                @include small-size-max {
                    gap: 15px !important;
                }
            }
        }
    }

    .zoom-svg-instagram-stroke {
        width: 30px !important;
        height: 30px !important;
    }

    img {
        border-radius: 5px !important;
    }

    li {
        &:before {
            content: none;
        }
    }
}

